<div class="accordion outer-box">
    <label class="header-expand">
        <h2 class="announcement-date">XX/XX/XXXX</h2>
        <i class="expand-icon fa-solid fa-plus fa-xl"></i>
    </label>
    <div class="inner-box">
        <h2 class="announcement-author">Author</h2>
        <p class="announcement-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure aspernatur consectetur, cupiditate porro harum nostrum natus corporis hic vitae quaerat, nulla aut magni nesciunt, cum laboriosam vero molestias? Asperiores, voluptate!</p>
        <p class="announcement-text">Iste rem vel explicabo laborum rerum at quia excepturi nobis id molestiae, odio accusamus porro voluptas quod alias omnis a blanditiis illo eos nemo dicta est nisi fugiat. Facere, reprehenderit.</p>
        <p class="announcement-text">Debitis vero ea doloremque at ipsa maiores et minima laboriosam est atque! Necessitatibus quod sed, recusandae natus modi explicabo voluptates est obcaecati nihil, accusamus minus ducimus, quas aliquam ipsam in.</p>
        <p class="announcement-text">Asperiores doloribus accusamus laboriosam vero eum deleniti itaque alias? Dolor, possimus at ut commodi alias sequi odit explicabo, nulla incidunt repellat illum, magni totam mollitia voluptatum vero? Maiores, distinctio culpa.</p>
    </div>
</div>