<%- include("partials/header", {page: 'index'}) -%>

<div class="picture-area bg-pine container-fluid d-flex justify-content-center align-items-center">
  <h2>Images or something here</h2>
</div>

<div class="container-md p-5">
  <div class="row">
    <div class="col d-flex flex-column justify-content-around">
      <h1>Hello World!</h1>
      <div>
        <p>
          Description...
        </p>
      </div>
    </div>
    <div class="col p-2">
      <div class="border d-flex justify-content-center align-items-center border-pine" style="height: 300px; border-width: 20px !important; border-">
        <h2>Placeholder</h2>
      </div>
    </div>
  </div>
</div>
<!--Projects Container-->
<div id="projects-container" class="container-fluid py-md-5 text-md-center bg-secondary">
  <h1>Projects</h1>
  <!--Indicators-->
  <div id="projects-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <!--Carousel Inner Start-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://via.placeholder.com/2000?text=1" class="img-fluid">
      </div>
      <div class="carousel-item">
        <img src="https://via.placeholder.com/2000?text=2" class="img-fluid">
      </div>
      <div class="carousel-item">
        <img src="https://via.placeholder.com/2000?text=3" class="img-fluid">
      </div>
      <div class="carousel-item">
        <img src="https://via.placeholder.com/2000?text=4" class="img-fluid">
      </div>
    </div>
    <!--Carousel Inner End-->
    <!--Carousel Buttons Start-->
    <button class="carousel-control-prev" type="button" data-bs-target="#projects-carousel" data-bs-slide="prev">
      <span class="carousel-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#projects-carousel" data-bs-slide="next">
      <span class="carousel-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <!--Carousel Buttons End-->
  </div>
  <!--Carousel-->
</div>
<!--Projects Container End-->
<%- include("partials/footer") %>
