<%- include("partials/header", {page: 'login'}) -%>

<h1>Login</h1>
<form action="/auth/login/password" method="post">
    <section>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <button type="submit">Login</button>
</form>
<%- user -%>
<% if (message) { %>
    <p><%= message %></p>
<% } %>

<%- include("partials/footer") %>
</html>
