<%- include("partials/header") -%>

<h1>Register</h1>
<form action="/auth/createUser" method="post">
    <section>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required>
    </section>
    <section>
        <label for="new-password">Password</label>
        <input id="new-password" name="password" type="password" autocomplete="new-password" required>
    </section>
    <button type="submit">Register</button>
</form>

<%- include("partials/footer") %>
</html>
