<%- include("partials/header") -%>

<h1>Users</h1>

<table>
    <tr>
      <th>Username</th>
      <th>isAdmin</th>
      <th>Delete</th>
    </tr>
    <% Users.forEach(function(users) {  %>
    <tr> 
      <td><%=users.username %></td>
      <td><form action="/update/isAdmin" method="post"></form><input type="checkbox" <% if (users.isAdmin) { %>checked<%}%> value="<%=item._id%>" onChange="this.form.submit()"></form></td>
      <td><a href="/delUser/">X</a></td>
    </tr>
    <% }); %>
  </table> 

<%- include("partials/footer") %>
