/* Root/Variables */

:root {
    --primary-green: #00685e;
    --primary-white: #dedede;
    --primary-black: #1c1c1c;
    --secondary-green: #e6f7f5;
    --title-width:50px;
    }

/* Sizing */

html, body {
    height: 100%;
}

main {
    min-height: calc(100% - 200px);
}

/* Colors */

h1, h2 {
    color: var(--primary-green);
}

.bg-secondary {
    background-color: var(--primary-white) !important;
}

.bg-pine {
    background-color: var(--primary-green) !important;
    color: #ffffff;
}

.bg-pine h1, .bg-pine h2 {
    color: #ffffff;
}

.border-pine {
    border-color: var(--primary-green) !important;
}

.bg-footer {
    background-color: var(--primary-black) !important;
}

/* Text */

h1, h2, h3, h4, h5, h6 {
    font-family: Libre Franklin,Tahoma,Verdana,Segoe,Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Arial,sans-serif;
    font-weight: 600;
}

h1 {
    font-weight: 900;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.4375rem;
        line-height: 1.16;
    }

    h2 {
        font-size: 2rem;
        line-height: 1.25;
    }
}

/* Pictures Area */

.picture-area {
    height: 320px;
}

@media (min-width: 576px) {
    .picture-area {
        height: 480px;
    }
}

@media (min-width: 768px) {
    .picture-area {
        height: 600px;
    }
}

@media (min-width: 992px) {
    .picture-area {
        height: 800px;
    }
}

/* Projects Area */

#projects-container {
    padding-bottom: 35px;
}
#projects-carousel {
    border: 2px solid var(--primary-green);
    border-radius: 8px;
    max-width: 70vw;
    height: 30vw;
    margin: auto auto;
}
.carousel-inner {
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel-item {
    max-width: 100%;
}

.carousel-control-next, .carousel-control-prev{
    background-color: var(--primary-green);
    width: 10%;
    opacity: 10%;
}


/* Small Screens */
@media (max-width: 768px) {
    #projects-carousel {
        max-width: 100vw;
        height: 45vw;
        margin: 0px;
    }

    .carousel-control-next, .carousel-control-prev {
        background-color: unset;
    }
}



/* Announcements */
.title-box {
    background-color: var(--primary-white);
    padding-bottom: 12px;
}

.page-title {
    display: inline;
    background-color: var(--primary-white);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.announcements-container {
    margin-bottom: 25px;
    height: 100%;
}

.header-expand {
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.announcement-date {
    color: var(--primary-white);
    padding: 5px 0 0 15px;
    float: left;
}

.expand-icon {
    size: 25px;
    margin-right: 20px;
    margin-top: 10px;
    float: right;
}

.outer-box {
    margin: auto;
    margin-top: 20px;
    background-color: var(--primary-green);
    border: 2px solid var(--primary-green);
    border-radius: 8px 8px 3px 3px;
    width: 80vw;
}

.accordion .inner-box {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-white);
    padding-left: 2%;
    padding-right: 2%;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

/* Announcement Accordion Hide/Unhide */

.accordion.active .inner-box {
    height: auto;
    overflow: none;
}

.expand-icon {
    color: var(--primary-white);
    font: normal normal normal 30px/1 FontAwesome;
    content: "\2b";
}

.accordion.active .expand-icon{
    font: normal normal normal 30px/1 FontAwesome;
    content: "\f068"
}
